<!DOCTYPE html>
<html>
<head> 
    <title>Static Content</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
</head>

<body>
  <div class='ui basic segment'>
    <h2 class='ui header stacked segment'>
      404 - url not found
    </h2>
  </div>
</body>
</html>